@{
    ViewData["Title"] = "customers";
}

<h2>Customers</h2>

@(Html.DevExtreme().DataGrid<TrustyLadder.Models.tl_customers>()
    .DataSource(ds => ds.WebApi()
		.RouteName("tl_customersApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.id);

        columns.AddFor(m => m.first_name);

        columns.AddFor(m => m.last_name);

        columns.AddFor(m => m.business_name);

        columns.AddFor(m => m.address1);

        columns.AddFor(m => m.address2);

        columns.AddFor(m => m.city);

        columns.AddFor(m => m.state);

        columns.AddFor(m => m.zip_code);
    })
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .Mode(GridEditMode.Form)
    )
)
