@{
    ViewData["Title"] = "Materials";
}

<h2>materials</h2>

@(Html.DevExtreme().DataGrid<TrustyLadder.Models.tl_materials>()
    .DataSource(ds => ds.WebApi()
		.RouteName("tl_materialsApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.description)
                    .Caption("Description");

        columns.AddFor(m => m.price)
                    .Caption("Price")
                    .DataType(GridColumnDataType.String)
                    .Format("$ #####..00");
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
