@{
    ViewData["Title"] = "projects";
}

<h2>Projects</h2>

@(Html.DevExtreme().DataGrid()
    .DataSource(ds => ds.WebApi()
		.RouteName("tl_projectsApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.Add().DataField("id");

        columns.Add().DataField("customerid");

        columns.Add().DataField("business_name");

        columns.Add().DataField("first_name");

        columns.Add().DataField("last_name");
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .Mode(GridEditMode.Form)
    )
)
