@{
    ViewData["Title"] = "projects";
}

<h2>Projects</h2>

@(Html.DevExtreme().DataGrid<TrustyLadder.Models.tl_projects>()
    .DataSource(ds => ds.WebApi()
		.RouteName("tl_projectsApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.Add().DataField("id");

        columns.Add().DataField("customerid");

        columns.Add().DataField("business_name");

        columns.Add().DataField("first_name");

        columns.Add().DataField("last_name");
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .Mode(GridEditMode.Form)
    )
    .MasterDetail(md => md
    .Enabled(true)
    .Template(new TemplateName("detailContent"))
    )
)

@using (Html.DevExtreme().NamedTemplate("detailContent"))
{
    @(Html.DevExtreme().TabPanel()
        .Items(items =>
        {
            items.Add()
                .Title("Materials")
                .Template(new TemplateName("projectMaterialTabContent"))
                .Option("masterGridId", new { id = new JS("data.id") });
            items.Add()
                .Title("Services")
                .Template(new TemplateName("projectServicesTabContent"))
                .Option("masterGridId", new { id = new JS("data.id") });
        })
    )
}

@using (Html.DevExtreme().NamedTemplate("projectMaterialTabContent"))
{
    @(Html.DevExtreme().DataGrid<TrustyLadder.Models.tl_project_materials>()
                            .DataSource(ds => ds.WebApi()
                            .RouteName("tl_materialsApi")
                            .LoadAction("GetServiceAddressesByCustomer")
                            .LoadParams(new
                            {
                                customerId = new JS("masterGridId.id")
                            })
                            .InsertAction("Post")
                            .UpdateAction("Put")
                            .DeleteAction("Delete")
                            .Key("ID")
                            )
                        .RemoteOperations(true)
                        .OnInitNewRow(string.Format("function(e) {{ onInitNewRow(e, {0}); }}", new JS("masterGridId.id")))
                        .Columns(columns =>
                        {

                            columns.AddFor(m => m.BUSINESSNAME);

                            columns.AddFor(m => m.ADDRESS1);

                            columns.AddFor(m => m.ADDRESS2);

                            columns.AddFor(m => m.CITY);

                            columns.AddFor(m => m.STATE);

                            columns.AddFor(m => m.ZIP);
                        })
                        .Editing(e => e
                                .AllowAdding(true)
                                .AllowUpdating(true)
                                .AllowDeleting(true)
                                .Mode(GridEditMode.Form)
                                )
    )
}

<script type="text/javascript">
    //<![CDATA[
    function onInitNewRow(e, parentID) {
        e.data.PROJECTID = parentID;
    }
    //]]>
</script>
