@{
    ViewData["Title"] = "Services";
}

<h2>Services</h2>

@(Html.DevExtreme().DataGrid<TrustyLadder.Models.DataGridModels.ServicesDataGrid>()
    .DataSource(ds => ds.WebApi()
		.RouteName("tl_servicesApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.description)
                        .Caption("Description")
                        ;

        columns.AddFor(m => m.rate)
                    .Caption("Rate")
                    .DataType(GridColumnDataType.Number)
                    .Format("#####.00");
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
